<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method='post'>
  <label for="sepal_length">sepal_length:</label><br>
  <input type="text" id="sepal_length" name="sepal_length" value="4.6"><br>
  <label for="sepal_width">sepal_width:</label><br>
  <input type="text" id="sepal_width" name="sepal_width" value="3.4"><br><br>
  <label for="petal_length ">petal_length:</label><br>
  <input type="text" id="petal_length" name="petal_length" value="1.4"><br><br>
  <label for="petal_width">petal_width:</label><br>
  <input type="text" id="petal_width" name="petal_width" value="0.3"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</body>
</html>